<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body style="padding: 15px;">
  <nav class="row" style="background: skyblue; color: white;">
    <h1 class="col-md-3 text-center">Weather</h1>
  </nav>
  <br />
  <br />
  <center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
  <div class="row">
    {% if country_code and coordinate and temp and pressure and humidity %}
    <div class="col-md-6 col-md-offset-3">
        <div class="card" style="width: 28rem; margin-top: 40px; background-color: skyblue; padding: 10px; border-radius: 5px; color: white;">
            <div class="card-header" style="font-weight: 600; font-size: 25px;">
                {{ city }}
              </div>
            <div class="card-body">
              <h5 class="card-title">Country Code: {{ country_code }}</h5>
              <p class="card-text">Coordinate: {{ coord }}</p>
              <p class="card-text">Temperature: {{ temp }}</p>
              <p class="card-text">Pressure: {{ pressure }}</p>
              <p class="card-text">Humidity: {{ humidity }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    
    <h2>Taniya Anil 22112030</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Country Code</th>
                    <th>Coordinate</th>
                    <th>Temperature</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                </tr>
            </thead>
            <tbody>
                {% for bdata in bdata %}
                <tr>
                    <td>{{ bdata.city }}</td>
                    <td>{{ bdata.country_code }}</td>
                    <td>{{ bdata.coord }}</td>
                    <td>{{ bdata.temp }}</td>
                    <td>{{ bdata.pressure }}</td>
                    <td>{{ bdata.humidity }}</td>
                    <td>{{ bdata.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>

</html>